// @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

// @media screen and (min-width: 768px) { // ONLY ON LARGER SCREEN
//   // ZOOM BACKGROUND IMAGE ON HOVER
//   .zoom-hover {
//     .card-bg {
//       transform: scale(1, 1);
//       transition: transform 426ms cubic-bezier(.4,.9,.3,1);
//     }
//     &:hover {
//       .card-bg {
//         transform: scale(1.15, 1.15);
//         transition: transform 426ms cubic-bezier(.4,.9,.3,1);
//       }
//     }
//   }
// }

// Cards
.card-container {
  // h3 {
  //   font-family: 'Open Sans', sans-serif;
  // }
  // p {
  //   font-family: 'Lato', sans-serif;
  // }
  .card-content {
    background: hsla(0,0%,0%,.5);
  }
  a, button {
    text-decoration: none;
    background: rgba(255,255,255,0);
    color: rgb(255,255,255);
    border-width: thin;
    border-style: solid;
    border-color: rgb(255,255,255)!important;
    transition: all 426ms cubic-bezier(.4,.9,.3,1);
  
    &:hover, &:focus {
      background: hsl(230,60%,60%)!important;
      color:  hsl(0,0%,100%)!important;
      border-width: thin;
      border-style: solid;
      border-color: hsl(230,60%,60%)!important;
      transition: all 426ms cubic-bezier(.4,.9,.3,1);
    }  
  }
}
@media screen and (min-width: 768px) { // ONLY ON LARGER SCREEN
  .card-container {
    &:hover, &:focus {
      .card-content {
        background: hsla(0,0%,0%,.9);
        transition: all 426ms cubic-bezier(.4,.9,.3,1);
      }
      .card-bg {
        transform: scale(1.15, 1.15);
        transition: transform 426ms cubic-bezier(.4,.9,.3,1);
      }
      h3, p, a, button {
        transform: translateY(0);
        filter: opacity(100%);
        transition: transform 426ms cubic-bezier(.4,.9,.3,1), filter 426ms cubic-bezier(.4,.9,.3,1);
      }
      p {
        // background: hsla(0,0%,0%,.8);
      }
    }
    .card-content {
      background: hsla(0,0%,0%,.4);
      transition: all 426ms cubic-bezier(.4,.9,.3,1);
    }  
    .card-bg {
      transform: scale(1, 1);
      transition: transform 426ms cubic-bezier(.4,.9,.3,1);
    }
    h3 {
      transform: translateY(100%);
      // font-family: 'Open Sans', sans-serif;
      transition: transform 426ms cubic-bezier(.4,.9,.3,1);
    }
    p {
      // display: none;
      // position: absolute;
      transform: translateY(200%);
      filter: opacity(0%);
      // font-family: 'Lato', sans-serif;
      transition: transform 426ms cubic-bezier(.4,.9,.3,1) filter 426ms cubic-bezier(.4,.9,.3,1);
    }
    a, button {
      // display: none;
      transform: translateY(100%);
      filter: opacity(0%);
      // font-family: 'Open Sans', sans-serif;
    }
  }
}