#contact {
    a, button {
        // to remove button's default style
        text-decoration: none;
        background: none;
        border: none;
        // =============
        color: hsl(0,0%,88%)!important;
        &:hover, &:focus {
            color: hsl(230,60,60%)!important;
        }
    }
}
