#logo {
    width: 200px;
    // height: 50px;
}
#navbarVisible {
    
}
#navbarCollapse {
    top: -100vh; // move #navvbarCollapse off screen
    opacity: 0;
    transform: translateY(0px);
    height: 100vh;
    transition: all 426ms cubic-bezier(.4,.9,.3,1);
}
header {
    z-index: 9999; // to put header on top of everything
    #navbarVisible {
        z-index: 2;
    }
    #navbarCollapse {
        z-index: 1;
    }
    a {
        color: #fff;
    }
    button {
        border: none;
        background: none;
        color: #fff;
        &:focus {
            border: none;
            outline: none;
        }
    }
}
nav {
    background: hsl(230,60,60%);
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            font-size: large;
        }
    }
    a {
        text-decoration: none;
    }
}
