#projects {
    .project-header {
        background: hsl(0,0%,15%);
        color: hsl(0,0%,88%);
    }
    .card-bg-holder {
        height: calc((100vh - 64px)/3);
    }
    .card-highlight {
        height: calc(2*(100vh - 64px)/3);
    }
}
